echo "
# Python
*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Virtual Environment
venv/
env/
ENV/
.venv/
.ENV/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/
.history/

# macOS
.DS_Store

# Windows
Thumbs.db
" > .gitignore